body{
  padding-top:70px;
}
.jumbotron{
  color: #1b1f6c;
  background: #bbdce9;
}

.navbar-inverse{
  background: #3139db;
}

/* This make the link in the navbar, and for specificity needed
to select also li, ti comes from bootstrap itself */
.navbar-inverse .navbar-nav > li>a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}
